<IfModule mod_rewrite.c>
   RewriteEngine on 
   
   RewriteCond %{HTTPS} off 
   RewriteCond %{HTTP_HOST} ^(?:fastshipping\.)?(.*)$ [NC]
   RewriteRule (.*) https://fastshipping.%1%{REQUEST_URI} [L,R=301]
   
   RewriteCond %{REQUEST_URI} ^/blog.*
   RewriteRule (.*) - [L]

   RewriteCond %{REQUEST_URI} ^/phpmyadmin.*
   RewriteRule (.*) - [L]

   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
