<IfModule mod_headers.c>
   Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
   RewriteEngine on 
   
   RewriteCond %{REQUEST_URI} ^/blog.*
   RewriteRule (.*) - [L]

   RewriteCond %{REQUEST_URI} ^/phpmyadmin.*
   RewriteRule (.*) - [L]

   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
