  *{
    margin: 0; padding: 0;
  }
  body{
    background: #f4f4f4;
  }
  div#titulo span{
    font: 16px "Trebuchet MS", tahoma, arial;
    color: #069; 
  }
  div#formulario h1{
    font: 32px "Trebuchet MS", tahoma, arial;
    color: #000;
  }
  div#formulario span{
    font: 16px "Trebuchet MS", tahoma, arial;
    color: #069; 
  }
  div#formulario .senha{
    height: 50px;
  }
  div#formulario{
    width: 490px; 
    padding: 2px;
    padding-left: 5px;
    background:#fff; 
    border: 1px solid #333;
    position: absolute; 
    left: 50%; 
    top: 75px; 
    margin-left: -250px; 
    margin-top: -50px
  }
  div#formulario span{
    font: 18px "Trebuchet MS", tahoma, arial;
    color: #036;
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  div#formulario input[type=text]{
    padding: 5px;
    width: 485px;
    border: 1px solid #ccc;
    outline: none;
    font: 16px tahoma, arial;
    color: #666;
  }
  div#formulario input[type=password]{
    padding: 5px;
    width: 485px;
    border: 1px solid #ccc;
    outline: none;
    font: 16px tahoma, arial;
    color: #666;
  }
  div#formulario input[type=text]:focus{
    border-color: #036;
  }
  div#formulario input[type=submit]{
    padding: 4px 6px;
    background: #069;
    font: 15px tahoma,arial;
    color: #fff;
    border: 1px solid #036;
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 95px;
    text-shadow: #000 0 2px 0;
  }
  div#formulario input[type=submit]:hover{
    cursor: pointer;
    background: #09F;
  }
  div#formulario a{
    font: Arial,verdana;
    color: #000;
    padding: 4px 6px;
    float: right;
    margin-top: 5px;
    text-decoration: none;
  }
  div#formulario a:hover{
    font: Arial,verdana;
    color: #069;
    padding: 4px 6px;
    float: right;
    margin-top: 5px;
    text-decoration: none;
  }
  div#formulario p{
    float: right;
    font: 14px Arial, verdana;
    color: #000;
    width: 100%;
  }
  div#postagens{
    width: 550px;
    height:150px;
    padding: 2px;
    background: #fff;
    border: 1px solid #000;
    position: absolute; 
    left: 400px;
    top: 20px; 
  }
  div#postagens input[name="email"]{
    position: absolute;
    left: 43px;
    top: 70px;
  }
  div#postagens input[name="website"]{
    position: absolute;
    left: 43px;
    top: 107px;
  }
  div#postagens input[type="text"]{
    padding: 5px;
    width: 420px;
    border: 1px solid #ccc;
    outline: none;
    font: 16px tahoma, arial;
    color: #666;
  }
  div#postagens input[type=submit]{
    padding: 5px;
    background: #069;
    font: 15px tahoma,arial;
    color: #fff;
    border: 1px solid #036;
    float: right;
    text-align: center;
    width: 85px;
    text-shadow: #000 0 2px 0;
  }
  div#postagens input[type=submit]:hover{
    background: #09F;
    cursor: pointer;
  }
  div#postagens span#link{
    padding: 5px;
     background: #069;
     font: 16px tahoma,arial;
  }
  div#postagens span#link a{
    color: #fff;
    text-decoration: none;
  }
  div#mensagens{
    width: 490px;
    height: 500px; 
    padding: 2px;
    padding-left: 5px;
    background:#fff; 
    border: 1px solid #000;
    position: absolute; 
    left: 50%; 
    top: 250px; 
    margin-left: -250px; 
    margin-top: -50px;
    overflow-x: hidden;
    overflow-y: auto;  
  }
  div#mensagens ul{
    list-style-type: none;
  }
  div#mensagens li{
    border-bottom: 1px dashed #069;
    padding: 5px;
    margin-right: 5px;
  }
  div#rodape {
    position: absolute;
    top: 250px;
    left: 835px;
  }
  div#rodape a{
    color: #069;
    text-decoration: none;
  
  }
  div#rodape a:hover{
    color: #069;
    text-decoration: underline;
  }